body {
  background: #fff url(../imagens/coleta.jpg) top no-repeat;
  margin: 50px;
  padding: 20px;
  width:800px;
  height:600px;
}

#img {
	position: absolute;
	left: 50%;
	top: 50%;
}

#form {
	position: absolute;
	left: 40%;
	top: 50%;
	margin-lef: -110px;
	margin-top: -40px;
	
}