body {
  background: #fff url(../imagens/coleta.jpg) top no-repeat;
  margin: 0;
  padding: 0;
}

#img {
	position: absolute;
	left: 50%;
	top: 50%;
}

#form {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-lef: -110px;
	margin-top: -40px;
	
}